/*----------------------------------- COMECO DO "SOBRE" -------------------------------------*/

.container-sobre {
    position: absolute;
    border-radius: 25px;
    background: url(../img/background_08.jpg);
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    /*padding-top: 25px;*/
    /*altura entre a barra inicial*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 2px solid #f75560;
}

.main-sobre h2 {
    color: #26272b;
    font-size: 30px;
    text-transform: uppercase;
    margin: auto;
    padding: auto;
}

.main-sobre p {
    color: #26272b;
    font-size: 15px;
    word-spacing: 2px;
}