    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        /*background: url(../img/background_06.jpg);*/
        /* background do "center" para trocar  LINHA:90*/
    }
    /*----------------------------------------- COMECO DO "CENTER" ---------------------------------------------*/
    
    .center {
        max-width: 1100px;
        margin: auto;
        padding: 0px 25px;
        display: flex;
        flex-wrap: wrap;
    }
    /*----------------------------------- COMECO DO "CABECALHO em DEGRADÊ" -------------------------------------*/
    
    header {
        background-color: #26272b;
        /*background: linear-gradient(180deg, rgba(7, 21, 79, 1) 0%, rgba(37, 24, 24, 0.6) 46%, rgba(37, 24, 24, 0.6) 46%, rgba(7, 21, 79, 1) 100%);*/
        /*background: linear-gradient(130deg, rgba(3, 19, 51, 1) 0%, rgba(28, 35, 67, 1) 3%, rgba(44, 46, 78, 1) 13%, rgba(59, 56, 88, 1) 24%, rgba(57, 55, 87, 1) 41%, rgba(47, 44, 78, 1) 63%, rgba(51, 48, 80, 1) 80%, rgba(54, 51, 88, 1) 97%);*/
        /*background: linear-gradient(180deg, rgba(7,21,79,1) 0%, rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.6) 50%, rgba(7,21,79,1) 100%);*/
        /*      CABECALHO EM DEGRADÊ  */
        padding: 0 auto;
        /*     ALTURA DO DEGRADÊ    */
        margin: 0 auto;
        border-bottom: 2px solid #f75560;
        display: flex;
    }
    
    a {
        color: #f75560;
        text-decoration: none;
        transition: 0.3s;
    }
    
    a:hover {
        opacity: 0.7;
    }
    
    .logo {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: auto 30vh;
        padding-right: 10px;
    }
    
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
        background: #26272b;
        height: 8vh;
    }
    /*main {
        background-color: #26272b;
        background-size: cover;
        height: 92vh;
    }*/
    
    .nav-list {
        list-style: none;
        display: flex;
        z-index: 1;
    }
    
    .nav-list li {
        letter-spacing: 3px;
        margin-left: 32px;
    }
    
    .mobile-menu {
        display: none;
        cursor: pointer;
    }
    
    .mobile-menu div {
        width: 32px;
        height: 2px;
        background: #f75560;
        margin: 8px;
        transition: 0.3s;
    }
    
    .nav-list.active {
        transform: translateX(0);
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
    /*----------------------------------------- COMECO DO "LOGO" -----------------------------------------------*/
    /*----------------------------------------- COMECO DO "MENU" -----------------------------------------------*/
    /*.menu {
        width: 100%;
        margin: 0px auto;
        padding: 0px auto;
        text-align: center;
    }
    
    .menu a {
        color: #f75560;
        /*  COR DAS LETRAS DO MENU   
        font-size: 13px;
        /*  TAMANHO DA FONTE DAS LETRAS DO MENU   
        text-decoration: none;
        margin-right: 30px;
        /*margin-right: 200px; /*  DEIXAR EM CASCATA AS LETRAS DO MENU   
    }
    /*------------------------------- COMECO DO "COMECO DO TRANSLUCIDO DAS LETRAS" ------------------------------*/
    
    .menu a:hover {
        color: #000;
        background-color: #f75560;
        box-shadow: 0 0 5px #f75560, 0 0 25px #f75560, 0 0 50px #f75560, 0 0 200px #f75560;
        -webkit-box-reflect: below 1px linear-gradient(transparent), #26272b;
    }
    /*----------- COMECO DO BOTÃO "BLOG" -----------------*/
    /*.menu .btn-menu {
    background-color: #f75560;
    display: inline-block;
    padding: 2px 15px;
    color: #f0b3b6;
    border-radius: 8px;
}

.menu .btn-menu:hover {
    background-color: #f0b3b6;
    color: #f75560;
}*/
    /*----------------------------------------- COMECO DO "SLIDES" -----------------------------------------------*/
    
    .slider {
        margin: auto;
        width: 800px;
        margin: 70px 0px 0px 17vh;
        height: 320px;
        overflow: hidden;
        box-shadow: 0 0 5px #f75560, 0 0 25px #f75560, 0 0 50px #f75560, 0 0 200px #f75560;
        -webkit-box-reflect: below 1px linear-gradient(transparent), #26272b;
        border-radius: 50px;
    }
    
    .slides {
        width: 400%;
        height: 320px;
        display: flex;
    }
    
    .slides input {
        display: none;
    }
    
    .slide {
        width: 25%;
        position: relative;
    }
    
    .slide img {
        width: 800px;
        border-radius: 50px;
        display: flex;
    }
    /*----------------------------------------- NAVEGAÇÃO MANUAL  -----------------------------------------------*/
    
    .navegacao-manual {
        position: absolute;
        width: 800px;
        margin-top: -25px;
        /* posição das radio */
        display: flex;
        justify-content: center;
    }
    
    .manual-btn {
        border: 2px solid #000;
        padding: 4px;
        /* largura dos radio */
        border-radius: 10px;
        cursor: pointer;
        transition: 0.9s;
    }
    
    .manual-btn:not(last-child) {
        margin-right: 40px;
    }
    
    .manual-btn:hover {
        box-shadow: 0 0 5px #f75560, 0 0 25px #f75560, 0 0 50px #f75560, 0 0 200px #f75560;
    }
    
    #radio1:checked~.first {
        margin-left: 0;
    }
    
    #radio2:checked~.first {
        margin-left: -25%;
    }
    
    #radio3:checked~.first {
        margin-left: -50%;
    }
    
    #radio4:checked~.first {
        margin-left: -75%;
    }
    
    #radio5:checked~.first {
        margin-left: -100%;
    }
    
    #radio6:checked~.first {
        margin-left: -125%;
    }
    
    #radio7:checked~.first {
        margin-left: -150%;
    }
    /*----------------------------------------- NAVEGAÇÃO AUTOMATICO  -----------------------------------------------*/
    
    .navegacao-auto div {
        border: 2px solid rgba(170, 79, 79, 0);
        /* radio transparente*/
        border: 2px solid #000;
        padding: 4px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    
    .navegacao-auto {
        position: absolute;
        width: 800px;
        margin-top: 295px;
        display: flex;
        justify-content: center;
    }
    
    .navegacao-auto div:not(last-child) {
        margin-right: 40px;
    }
    
    #radio1:checked~.navegacao-auto .auto-btn1 {
        background-color: tomato
    }
    
    #radio2:checked~.navegacao-auto .auto-btn2 {
        background-color: tomato;
    }
    
    #radio3:checked~.navegacao-auto .auto-btn3 {
        background-color: tomato;
    }
    
    #radio4:checked~.navegacao-auto .auto-btn4 {
        background-color: tomato;
    }
    
    #radio5:checked~.navegacao-auto .auto-btn5 {
        background-color: tomato;
    }
    
    #radio6:checked~.navegacao-auto .auto-btn6 {
        background-color: tomato;
    }
    
    #radio7:checked~.navegacao-auto .auto-btn7 {
        background-color: tomato;
    }
    /*----------------------------------------- COMECO DO "MAIN" -----------------------------------------------*/
    
    main.main {
        background: url(background_08.jpg);
        min-height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        /*padding-top: 25px;*/
        /*altura entre a barra inicial*/
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        border-bottom: 2px solid #f75560;
    }
    
    .main_cta {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .main_cta h2 {
        color: #26272b;
        font-size: 40px;
        text-transform: uppercase;
        margin: 50px 0px 30px 0px
    }
    
    .main_cta p {
        color: #26272b;
        font-size: 15px;
        word-spacing: 5px;
        margin: 20px 0px 10px 0px
    }
    
    .main_cta a {
        color: #161618;
        font-size: 39px;
        width: 24%;
        /*dimunuir para melhorar o espaçamento  largura das colunas*/
        margin-right: 2%;
        /*aumentar para melhorar o espaçamento entre os espaços das colunas*/
        padding: 1px 10px;
    }
    
    .main_cta button {
        background-color: #26272b;
        display: inline-block;
        padding: 8px 10px;
        color: #f75560;
        border-radius: 6px;
        font-size: 15px;
        border: 0;
        cursor: pointer;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .main_cta button:hover {
        background-color: #f75560;
        color: #000;
        letter-spacing: 2px;
        box-shadow: 0 0 5px #f75560, 0 0 25px #f75560, 0 0 50px #f75560, 0 0 200px #f75560;
        -webkit-box-reflect: below 1px linear-gradient(transparent), #26272b;
    }
    /*----------------------------------------- COMECO DO MAIN 01" -----------------------------------------------*/
    
    .main_cta_01 {
        width: 100%;
        margin: 20px 0px 10px 0px;
        text-align: center;
    }
    
    .main_cta_01 h2 {
        color: #26272b;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 60px;
        margin-bottom: 10px;
        /*PAREI AQUI 02/07*/
    }
    
    .main_cta_01 p {
        color: #26272b;
        font-size: 15px;
        word-spacing: 2px;
        margin: 10px 0px 20px 0px
    }
    
    .main_cta_01 button {
        background-color: #26272b;
        box-shadow: 0 0 5px #fff, 0 0 25px #000, 0 0 50px #f75560, 0 0 200px #f75560;
        -webkit-box-reflect: below 1px linear-gradient(transparent), #26272b;
        display: inline-block;
        padding: 8px 30px;
        color: #f75560;
        border-radius: 6px;
        font-size: 15px;
        border: 0;
        cursor: pointer;
        margin: 6px 0px 50px 0px;
        animation-name: pulsante;
        /* nome da animação */
        animation-duration: 0.5s;
        /* duração da animação */
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        /* ciclo da animação */
        animation-direction: alternate;
        /* direção do ciclo da animação */
    }
    
    .main_cta_01 button:hover {
        background-color: #f75560;
        color: #26272b;
        box-shadow: 0 0 5px #000, 0 0 25px #fff, 0 0 50px #f75560, 0 0 200px #f75560;
        -webkit-box-reflect: below 1px linear-gradient(transparent), #26272b;
    }
    /*--------------------------------------------- LOGO PULSANTE -----------------------------------------------*/
    
    @keyframes pulsante {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.05);
        }
    }
    /*----------------------------------------- COMECO DO "QUADRO" -----------------------------------------------*/
    
    .quadro {
        display: flex;
        flex-wrap: nowrap;
        /*wrap para mais colunas // nowrap poucas colunas*/
        margin: 15px 15px 15px 0px;
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }
    
    .quadro-single h2 {
        color: #26272b;
        /* cor do texto */
        font-size: 20px;
        /* tam. do texto */
        margin: 10px 10px 10px 15px;
        text-align: justify;
    }
    
    .quadro-single p {
        color: #26272b;
        line-height: 30px;
        font-size: 13px;
        /* tam. do texto */
        margin: 0px 5px 5px 15px;
        padding: 0px 0px 0px 0px;
        word-spacing: 5px;
    }
    
    .quadro-single {
        border-radius: 15px;
        /* bordas */
        background: linear-gradient(90deg, rgba(52, 62, 113, 0.2) 0%, rgba(52, 62, 113, 0.2) 100%);
        width: 50%;
        /*dimunuir para melhorar o espaçamento  largura das colunas*/
        margin: 1px 10px 5px 22px;
        padding: 0px 5px;
    }
    
    .quadro-single:hover {
        background-color: #c86a71;
        box-shadow: 0 0 5px #e34751, 0 0 25px #26272b, 0 0 50px #000;
        -webkit-box-reflect: below 1px linear-gradient(transparent), #26272b;
    }
    /*--------------------------------------- COMECO DO "ARTICLE" -----------------------------------------------*/
    
    article {
        background: url(../img/background_08.jpg);
        min-height: 500px;
        background-position: center;
        /*padding-top: 25px;*/
        /*altura entre a barra inicial*/
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .secao-geral {
        color: #26272b;
        border-top: 2px solid #f75560;
    }
    
    .secao-titulo h2 {
        font-size: 40px;
        margin: 60px 0px 0px 35vh;
    }
    /*--------------------------------------- COMECO DO "FOOTER" -----------------------------------------------*/
    
    .footer-para {
        margin: 0;
        padding: 0;
    }
    
    .footer p {
        font-size: 10px;
        color: #f75560;
        background-color: #26272b;
        font-weight: 300;
        padding: 30px 10px;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }
